html body{
	background-color: #f7f7f7;
}
.mineMain{
	position: relative;
	z-index: 1;
	padding-bottom: 50px;
}
.mineTop{
	background: url(../../image/mineTopBg.jpg) no-repeat;
	background-size: 100% auto;
	height: 3rem;
}
.mui-table-view{
	background: transparent;
}
.mui-media-body{
	height: 72px;
} 
.mui-table-view .mineHeaderImg{
	width: 72px;
	height: 72px;
	max-width: 90px;
	border-radius: 100%;
}
.mineHeaderName{
	line-height: 42px;
	font-size: 20px;
	font-weight: bold;
	font-size: #fff;
}
.mineHeaderNameBg{
	background: url(../../image/mineHeaderNameBg.png) no-repeat;
	height: 19px;
	background-size: 100% 100%;
	line-height: 19px;
	color: #fff;
	width: 53px;
	text-align: center;
}
	
.mineIndent{
	    background-color: #fff;
}

.mineIndent i{
	font-style:normal;
	font-size: 0.24rem;
	line-height: 0.3rem;
}
.mineUpdate {
    font-style: normal;
    color: #999999;
    margin-right: 0.6rem;
    font-size: 15px;
}

.pageOneActiveModle{
	position: relative;
	z-index: 1;
	padding-top: 0;
}

.pageOneSiteNow .pageOneActive{
	background: #FFFFFF;
}

.mui-table-view-cell>.mineIndentNav:not(.mui-btn){
	margin-right: 0px;
	font-size: 0.30rem;
	line-height: 0.30rem;
	margin: 0 -4px 0 0; */
	padding:;
	padding-top: 0.3rem;
} 
.mineHeaderCont {
    padding: 0.86rem 0 0.82rem 0;
}
.mineIndent .mui-table-view-cell {
    padding: 0 0 0.27rem 0.15rem;
}
.pageOneActiveModleUl{
	border-top: 1px solid #f2f2f2;
    padding-top: 10px;
    padding-right: 15px;	
}
.pageOneActiveModleLi{
	float: left;
	width: 20%;
	text-align: center;
}

.pageOneActiveModleAImg{
	width: 0.84rem;
	height: 0.54rem;
}

.pageOneActiveModleAH3{
	font-size: 14px;
	font-size: 0.26rem;
	font-weight: 200;
}
.mui-grid-view.mui-grid-9{
	background-color: #ffffff;
}
.mui-grid-view.mui-grid-9 {
    border-left: 0;
    width: 100%;
}
.mineSett{
	margin-top: 10px;
}

.mineSudoku{
	
}

.mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-body{
	font-size: 0.26rem;
	margin-top: 0;
}
.mineSudoku .mui-grid-view.mui-grid-9 .mui-media .mui-icon img{
	width: 0.54rem;
	height: 0.54rem;
}
.mineSudoku .mui-grid-view.mui-grid-9 .mui-media .mui-icon{
	height: 40px;
}
.mui-grid-view.mui-grid-9 .mui-table-view-cell{
	padding: 0;
}
.mui-grid-view.mui-grid-9 .mui-table-view-cell>a:not(.mui-btn) {
    margin: 0;
    padding: 5px 0;
}



.mineHeaderContLogout{
	
}
.mineLogoutMain{
	
}
.mineLogoutCont{
	
width: 2.6rem;
	
height: 0.8rem;
	
line-height: 0.8rem;
	
color: #fff;
	
margin: 0 auto;
	
border: 1px solid;
	
text-align: center;
	
font-size: 0.36rem;
	
font-weight: 800;
	
border-radius: 0.08rem;
}
.minelogOutDes{
	
text-align: center;
	
display: block;
	
margin-top: 0.3rem;
	
font-size: 0.22rem;
	
color: #919090;
	
line-height: 0.22rem;
}

.mui-navigate-right:after, .mui-push-left:after, .mui-push-right:after {
    top: 0.4rem;
}