*{margin:0;padding: 0;font-family: "苹方";}
@media (min-width: 320px) {
				html {
					font-size: 32px;
				}
			}
			
			@media (min-width: 360px) {
				html {
					font-size: 36px;
				}
			}
			
			@media (min-width: 375px) {
				html {
					font-size: 37.5px;
				}
			}
			
			@media (min-width: 384px) {
				html {
					font-size: 38.5px;
				}
			}
			
			@media (min-width: 414px) {
				html {
					font-size: 41.4px;
				}
			}
			
			@media (min-width: 448px) {
				html {
					font-size: 44.8px;
				}
			}
			
			@media (min-width: 480px) {
				html {
					font-size: 48px;
				}
			}
			
			@media (min-width: 512px) {
				html {
					font-size: 51.2px;
				}
			}
			
			@media (min-width: 544px) {
				html {
					font-size: 54.4px;
				}
			}
			
			@media (min-width: 576px) {
				html {
					font-size: 57.6px;
				}
			}
			
			@media (min-width: 608px) {
				html {
					font-size: 60.8px;
				}
			}
			
			@media (min-width: 640px) {
				html {
					font-size: 64px;
				}
			}
			
			@media (min-width: 750px) {
				html {
					font-size: 75px;
				}
			}
			
			@media (min-width: 800px) {
				html {
					font-size: 80px;
				}
			}
			
			@media (min-width: 1024px) {
				html {
					font-size: 102.4px;
				}
			}
			ul,li{
				list-style: none;
			}
			body{
				line-height: 0.533rem;
			}
.mui-content{
	background: #FFFFFF;
}			
.forget{
	margin: 0 auto;
	text-align: center;
	position: relative;
	height: 4.7rem;
}
.forgetTitle{
	position: absolute;
	top:2rem;
	left:50%;
	margin-left: -1.5rem;
	font-size: 0.8rem;
}
.forgetWord{
	width: 4.67rem;
	position: absolute;
	top:3.1rem;
	left:50%;
	margin-left: -2.25rem;
	color: #999999;
	font-size: 0.37rem;
}
.forgetTrunRegister a{
	color: #500068;
	
}
.forgetInputBox{
	width: 100%;
	position: relative;
	/*top:4.65rem;*/
	padding:0 0.4rem ;
}
.forgetInputBox .forgetCss{
	border-bottom:1px solid #999999 ;
	height: 1.6rem;
	line-height: 1.6rem;
}

.forgetInputBox input{
	border: none;
	font-size: 0.43rem;
 	line-height: 0.56rem;
    height: 1.07rem;
    margin-bottom: 0.4rem;
    padding: 0.27rem 0.4rem;
}
.forgetBtn{
	margin-top: 0.533rem;
	height: 1.33rem;
	width: 9.2rem ;
	background: #B5B5B5;
	font-size: 0.48rem;
	text-align: center;
	color: #FFFFFF;
	line-height: 1.33rem;
	border-radius: 0.08rem;
}
.forgetBtn a{
	color: #FFFFFF;
}
.forgetTrun{
	overflow: hidden;
	margin-top: 0.4rem;
	font-size: 0.37333rem;
}
.forgetTrunSms{
	float: left;
	width: 25%;
	text-align: left;
	color: #666666;
}
.forgetTrunForget{
	float: right;
	width: 30%;
	text-align: right;
	color: #666666;
}
.forgetTrunSms a{
	color: #666666;
}
.forgetInputBox .forgetInputSms{
	position: relative;
}
.forgetInputSms input{
	font-size: 0.43rem;
}
.forgetCode{
	width: 2.67rem;
	height: 1rem;
	position: absolute;
	display: inline-block;
	background: #B5B5B5;
	font-size: 0.4rem;
	text-align: center;
	color: #FFFFFF;
	line-height: 1rem;
	border-radius: 0.08rem;
	top: 0.3rem;
	right: 0;
}

.forgetOption{
	position: relative;
	margin-top:0.3rem ;
	width: 100%;
	height: 13%;
	text-align: center;
	color: #999999;
	font-size: 0.32rem;
}
.forgetOptionWord{
	position: absolute;
	width: 4.23rem;
	height: 0.76rem;
	left:50%;
	margin-left: -2.12rem;
	text-align: center;
	line-height: 0.76rem;
}
.forgetOptionHengLeft{
	width: 0.54rem;
	height: 1px;
	position: absolute;
	top: 0.38rem;
	border-bottom: 1px solid #B5B5B5;
}
.forgetOptionHengRight{
	width: 0.54rem;
	height: 1px;
	position: absolute;
	top: 0.38rem;
	right: 0;
	border-bottom: 1px solid #B5B5B5;
}
.forgetOptionIcon{
	position: absolute;
	width: 4.23rem;
	height: 0.76rem;
	left:50%;
	top: 1rem;
	margin-left: -2.12rem;
	text-align: center;
	line-height: 0.76rem;
}
.forgetOptionWeixin{
	width: 1.2rem;
	height: 1.2rem;
	float: left;
	border: 1px solid #B5B5B5;
	border-radius:50% ;
	line-height: 1.2rem;
}
.forgetOptionQQ{
	width: 1.2rem;
	height: 1.2rem;
	float: right;
	border: 1px solid #B5B5B5;
	border-radius:50% ;
	line-height: 1.2rem;
}
.forgetOptionWeixin .iconfont{
	font-size: 0.67rem;
}
.forgetOptionQQ .iconfont{
	font-size: 0.67rem;
}
.forgetOptionQQ .iconfont{
	font-size: 0.67rem;
}
.forgetCss input::-webkit-input-placeholder { /* WebKit browsers*/ 
　　color:#999;font-size:0.43rem;
}
.forgetCss input:-moz-placeholder {  /* Mozilla Firefox 4 to 18*/ 
　　color:#999;font-size:0.43rem;
　　}
.forgetCss input::-moz-placeholder {  /* Mozilla Firefox 19+*/ 
　　color:#999;font-size:0.43rem;
　　}
.forgetCss input:-ms-input-placeholder { /* Internet Explorer 10+*/ 
　　color:#999;font-size:0.43rem;
}
.forgetCss{
	border-bottom:1px solid #999999 ;
	height: 1.6rem;
	line-height: 1.6rem;
}
.forgetCode{
	width: 2.67rem;
	height: 1rem;
	position: absolute;
	display: inline-block;
	background: #B5B5B5;
	font-size: 0.4rem;
	text-align: center;
	color: #FFFFFF;
	line-height: 1rem;
	border-radius: 0.08rem;
	top: 0.3rem;
	right: 0;
}